/* Pretendard 폰트 등록 */
@font-face {
  font-family: "Pretendard";
  src: url("@/assets/fonts/PretendardVariable.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}

/* 전체 기본 폰트 적용 */
* {
  font-family: "Pretendard", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #212121;
}

#root {
  zoom: 0.8;
  height: 100%;
  width: 100%;
}
